<a href="https://colab.research.google.com/github/bttrung/python-study/blob/master/basic/14_Zip_and_Enumerate.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# zip: return an iterator that combines multiple interables into one sequence of tuples
items = ['banana', 'orange', 'apple']
counts = [10, 22, 4]
froms = ['vietnam', 'china', 'thailand']

togethersList = list(zip(items, counts, froms))

In [6]:
togethersList

[('banana', 10, 'vietnam'), ('orange', 22, 'china'), ('apple', 4, 'thailand')]

In [0]:
togethersSet = set(zip(items, counts, froms))

In [8]:
togethersSet

{('apple', 4, 'thailand'), ('banana', 10, 'vietnam'), ('orange', 22, 'china')}

In [11]:
for i, item, count, f in zip(range(len(items)), items, counts, froms):
  print(i, item, count, f)

0 banana 10 vietnam
1 orange 22 china
2 apple 4 thailand

In [12]:
# enumerate: is a built in function that returns an iterator of tuples containing indices and values of a list. You'll often use this when you want the index along with each element of an iterable in a loop
letters = ['a', 'b', 'c', 'd']

for i, letter in enumerate(letters):
  print(i, letter)

0 a
1 b
2 c
3 d