<a href="https://colab.research.google.com/github/bttrung/python-study-notebooks/blob/master/pandas/4_Pandas_DataFrames.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

## Creating

In [0]:
items = {'Bob': pd.Series([245, 25, 55], index=['bike', 'pants', 'watch']), 'Alice' : pd.Series([40, 110, 500, 45],index=['book', 'glasses', 'bike', 'pants'])}

In [3]:
type(items)

dict

In [4]:
sc = pd.DataFrame(items) # shopping_carts
sc

           Bob  Alice
bike     245.0  500.0
book       NaN   40.0
glasses    NaN  110.0
pants     25.0   45.0
watch     55.0    NaN

In [5]:
sc.items

<bound method DataFrame.iteritems of            Bob  Alice
bike     245.0  500.0
book       NaN   40.0
glasses    NaN  110.0
pants     25.0   45.0
watch     55.0    NaN>

In [6]:
sc.index

Index(['bike', 'book', 'glasses', 'pants', 'watch'], dtype='object')

In [7]:
sc.values

array([[245., 500.],
       [ nan,  40.],
       [ nan, 110.],
       [ 25.,  45.],
       [ 55.,  nan]])

In [8]:
sc.size

10

In [9]:
sc.shape

(5, 2)

## select

In [11]:
# only select 2 items
sel_sc = pd.DataFrame(items, index=['pants','book'])
sel_sc

        Bob  Alice
pants  25.0     45
book    NaN     40

In [13]:
# alice only
alice_sc = pd.DataFrame(items, columns=['Alice'])
alice_sc

         Alice
book        40
glasses    110
bike       500
pants       45

In [14]:
# alice bike
alice_bike_sc = pd.DataFrame(items, index=['bike'], columns=['Alice'])
alice_bike_sc

      Alice
bike    500

## without index

In [17]:
items_no_index = {'Bob': pd.Series([245, 25, 55]), 'Alice' : pd.Series([40, 110, 500, 45])}
items_no_index

{'Alice': 0     40
 1    110
 2    500
 3     45
 dtype: int64, 'Bob': 0    245
 1     25
 2     55
 dtype: int64}

In [18]:
no_index = pd.DataFrame(items_no_index)
no_index

     Bob  Alice
0  245.0     40
1   25.0    110
2   55.0    500
3    NaN     45

In [22]:
data = {'Integer':[1,2,3], 'Float':[3., 4., 5.]}
no_index_2 = pd.DataFrame(data)
no_index_2

   Integer  Float
0        1    3.0
1        2    4.0
2        3    5.0

In [25]:
# add index
no_index_2 = pd.DataFrame(data, index=['Label 1', 'Label 2', 'Label 3'])
no_index_2

         Integer  Float
Label 1        1    3.0
Label 2        2    4.0
Label 3        3    5.0

In [31]:
items = [{'a': 1, 'b': 2, 'c': 3, 'd': 4}, {'a': 5, 'c': 7, 'g': 3}]
store = pd.DataFrame(items)
store

   a    b  c    d    g
0  1  2.0  3  4.0  NaN
1  5  NaN  7  NaN  3.0